<div class="message-container" fxLayout="column" fxLayoutAlign="center stretch">
  <div class="header">Messages</div>
  <div fxLayout="row" fxLayoutAlign="center center" class="input-field">
    <div fxFlex class="message">
      <mat-form-field>
        <input [(ngModel)]="messageText" matInput placeholder="Message">
      </mat-form-field>
    </div>
    <div fxFlex="20" class="action">
      <button (click)="save()" mat-raised-button color="primary">Save</button>
    </div>

  </div>
  <div class="list">
    <mat-list color="primary">
      <mat-list-item *ngFor="let message of messages$ | async">
        <div mat-line>
<!--  [checked]="message.completed"  [(ngModel)]="message.completed"-->
          <mat-checkbox [checked]="message.completed" (change)="toggle($event,message)"></mat-checkbox>
          <span class="text">{{message.message}}</span></div>
        <button mat-icon-button>
          <mat-icon (click)="delete(message)" mat-list-icon>cancel</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
